.grid-experiencia {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 7.5rem;
}

@media (max-width: 1150px) {
  .grid-experiencia {
    grid-template-columns: auto;
    gap: 2rem;
  }
}

.minha-apresentacao p {
  margin-top: 1.875rem;
  color: #525252;
}

@media (max-width: 750px) {
  .minha-apresentacao p {
    margin-top: 0.875rem;
  }
}

.titulo-experiencia {
  color: #e0e0e0;
  font-size: 9rem;
  max-width: 3.9ch;
  text-transform: uppercase;
  line-height: 144px;
  word-break: break-all;
}

@media (max-width: 700px) {
  .titulo-experiencia {
    font-size: 4.5rem;
    word-break: keep-all;
  }

  .grid-experiencia {
    gap: 0.5rem;
  }
}

@media (max-width: 1150px) {
  .titulo-experiencia {
    word-break: break-all;
    max-width: initial;
  }
}

.descricao-experiencia {
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 2rem;
}

.minha-experiencia-item {
  display: grid;
  margin-top: 2.875rem;
  font-size: 18px;
  background-color: #f7f7f7;
  max-width: 100vw;
  width: 100%;
  border-radius: 5px;
  padding: 1.25rem 1.875rem 1.25rem 1.125rem;
  gap: 5px;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 1150px) {
  .minha-experiencia-item {
    padding: 2.5rem;
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  .minha-experiencia-item {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .descricao-sobre {
    order: -1;
  }

  .nome-projeto-experiencia {
    order: -2;
  }
}
.nome-projeto-experiencia,
.cargo-na-empresa {
  font-size: 1.125rem;
}

.descricao-sobre {
  max-width: 40ch;
  font-size: 0.875rem;
  line-height: 20px;
  color: #525252;
}

.tecnologias-usadas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cargo-na-empresa {
  justify-self: start;
}

.tecnologias-usadas span {
  background-color: #fff;
  margin: 0.2rem 0.4rem;
  padding: 5px;

  border-radius: 0.3rem;
  font-size: 0.875rem;
}

.minhas-experiencias {
  position: relative;
}

.minhas-experiencias::before {
  content: "";
  background-image: linear-gradient(#b6f829, #67dd0a);
  width: 4px;
  height: 20px;
  left: -5px;
  top: 25px;
  display: block;
  position: absolute;
}

.ano-do-trabalho {
  position: absolute;
  left: -6.5rem;
  top: 28px;
  font-size: 0.875rem;
  text-align: right;
  width: 5rem;
  color: #525252;
}

@media (max-width: 400px) {
  .titulo-experiencia {
    line-height: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .ano-do-trabalho {
    display: initial;
    position: initial;
    order: 3;
    width: auto;
  }

  .ano-do-trabalho::before {
    content: "Ano:  ";
  }

  .descricao-experiencia {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .tecnologias-usadas span {
    margin-left: 0px;
  }

  .minha-experiencia-item {
    margin-top: 2rem;
  }
}
