.container-width {
  max-width: 1150px;
  margin: 0 auto;
  padding: 2.5rem;
}

.font-primaria {
  font-family: "Fira Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8.75rem;
}

@media (max-width: 1000px) {
  .grid-container {
    gap: 4.375rem;
  }
}

@media (max-width: 450px) {
  .container-width {
    padding: 1.5rem;
  }
}

.uppercase {
  text-transform: uppercase;
}
