a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.header-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 580px) {
  .header-principal {
    flex-direction: column;
  }

  .ul-navegacao-primaria {
    margin-top: 3.5rem;
  }
}

.ul-navegacao-primaria {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2.5rem;
}

.ul-navegacao-primaria li a {
  color: #141414;
  font-size: 1.125rem;
}

@media (max-width: 500px) {
  .navegacao-primaria-link {
    background-color: #f7f7f7;
    padding: 0.8rem;
    border-radius: 0.3rem;
  }

  .ul-navegacao-primaria {
    gap: 1rem;
  }
}

.main-conteudo {
  margin-top: 3.5rem;
  align-items: center;
}

.titulo-especializacao {
  font-size: 4.5rem;
  color: #141414;
  line-height: 80px;
  max-width: 14ch;
}

@media (max-width: 1000px) {
  .titulo-especializacao {
    font-size: 3.25rem;
    line-height: normal;
  }
}

@media (max-width: 400px) {
  .titulo-especializacao {
    font-size: 2.5rem;
  }

  .main-conteudo {
    margin-top: 0.5rem;
  }
}

.minha-apresentacao p {
  margin-top: 1.875rem;
  color: #525252;
}

@media (max-width: 750px) {
  .minha-apresentacao p {
    margin-top: 0.875rem;
  }

  .titulo-especializacao::before {
    display: none;
  }
}

.titulo-especializacao {
  position: relative;
}

.titulo-especializacao::before {
  content: url("./img/detalhe.svg");
  position: absolute;
  z-index: -1;
  left: -30px;
  top: -30px;
}

@media (max-width: 700px) {
  .main-conteudo {
    grid-template-columns: 1fr;
  }

  .foto-perfil {
    display: none;
  }
}
